name: markdown-links
on:
  workflow_call:
    inputs:
      config-path:
        description: 'Path to the Linkspector configuration file'
        default: ''
        required: false
        type: string
jobs:
  markdown-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Harden runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit
      - name: Check links in modified Markdown files
        if: inputs.config-path == ''
        uses: umbrelladocs/action-linkspector@a0567ce1c7c13de4a2358587492ed43cab5d0102 # v1.3.4
        with:
          fail_on_error: true
          filter_mode: file
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
      - name: Check links in modified Markdown files using specified config file
        if: inputs.config-path != ''
        uses: umbrelladocs/action-linkspector@a0567ce1c7c13de4a2358587492ed43cab5d0102 # v1.3.4
        with:
          config_file: ${{ inputs.config-path }}
          fail_on_error: true
          filter_mode: file
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
